body {
  background-image: linear-gradient(to right, #c6ffdd , #fbd786, #f7797d);
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}



@keyframes translate1 {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
    transform: translate(-30em, 0);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}

@keyframes translate2 {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
    transform: translate(30em, 0);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}

@keyframes translatecircle {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 1;
    transform: rotate(360deg) translate(150px) 
  }
  100% {
    opacity: 1;
    transform: none;
  }
}

@keyframes translate4 {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
    transform: translate(0, -30em);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}

@keyframes translate5 {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
    transform: translate(0, 30em);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}

.box {
  width: 30px;
  height: 30px;
  border-radius: 0%;
  background-color: transparent;
  box-shadow:
    0 0 60px 30px #fff,  /* inner white */
    0 0 100px 60px #FFB6CE, /* middle magenta */
    0 0 140px 90px #FFB6CE; /* outer cyan */
  position: absolute;
  left: 315px;
  top: 143px;
  animation: translate1 5s infinite;
}

.box2 {
  width: 30px;
  height: 30px;
  border-radius: 0%;
  background-color: transparent;
  box-shadow:
    0 0 60px 30px #fff,  /* inner white */
    0 0 100px 60px #B6F6FF, /* middle magenta */
    0 0 140px 90px #B6F6FF; /* outer cyan */
  position: absolute;
  right: 315px;
  bottom: 143px;
  animation: translate2 5s infinite;
}

.box3 {
  width: 30px;
  height: 30px;
  border-radius: 0%;
  background-color: transparent;
  box-shadow:
    0 0 60px 30px #fff,  /* inner white */
    0 0 100px 60px #B3FFC7, /* middle magenta */
    0 0 140px 90px #0ff; /* outer cyan */
  position: absolute;
  right: 315px;
  top: 143px;
  animation: translate4 5s infinite;
}

.box4 {
  width: 30px;
  height: 30px;
  border-radius: 0%;
  background-color: transparent;
  box-shadow:
    0 0 60px 30px #fff,  /* inner white */
    0 0 100px 60px #FFE0B6, /* middle magenta */
    0 0 140px 90px #FFE0B6; /* outer cyan */
  position: absolute;
  left: 315px;
  bottom: 143px;
  animation: translate5 5s infinite;
}

.circle {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: transparent;
  box-shadow:
    0 0 60px 30px #FFB3BC,  
    0 0 100px 60px #FFB3BC, 
    0 0 140px 90px #0ff; 
  animation: translatecircle 5s infinite;
}