@font-face {
    font-family: 'Mars Extended';
    src: url('MarsExtended-Regular.woff2') format('woff2'),
        url('MarsExtended-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

a { text-decoration: none; color:black; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:focus { text-decoration: none; }
a:hover, a:active { text-decoration: none; }

html, body {
	font-family: 'Mars Extended';
  padding: 0;
  margin: 0;
  height: 100%;
}


/* phone breakpoint */


@media (max-width: 768px) {
  body {
    font-size: 10px;
  }

}

video {
  width: 100%;
  height: auto;
  vertical-align: center;
}

.journalentry {
  padding: 100px;
  margin: 10px;
}

.grid0 { 
    min-height: 100%;
    padding: 0px;
    height: max-content;
    text-align: center;
    justify-content: center;
    align-content: center;
    align-items: center;
    justify-content: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;

}

.grid { 
    min-height: 100%;
    padding: 0px;
    height: max-content;
    text-align: center;
    justify-content: center;
    align-content: center;
    align-items: center;
	  justify-content: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;

}

.box1 {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  margin: auto;
  width: 100%;
  height: 100%;

}

#aodintro {
  cursor:url("../returntoxeno/pics/aod.png"), pointer;
}

#rtxintro {
  cursor:url("../returntoxeno/pics/rtx.png"), pointer;
}

#usaintro {
  cursor:url("../returntoxeno/pics/usa.png"), pointer;
}

#introcursor {
  cursor:url("../returntoxeno/pics/intro.png"), pointer;
}

#uniform {
  cursor:url("../returntoxeno/pics/uniform.png"), pointer;
}

#dress {
  cursor:url("../returntoxeno/pics/dress.png"), pointer;
  text-align: center;
}

#usaadcursor {
  cursor:url("../returntoxeno/pics/usacursor.png"), pointer;
}

#runningcursor {
  cursor:url("../returntoxeno/pics/runningcursor.png"), pointer;
}

#gokarts {
  cursor:url("../returntoxeno/pics/gokarts.png"), pointer;
}

#aodad {
  cursor:url("../returntoxeno/pics/aodad.png"), pointer;
}

#ageofdiscoverymain {
  cursor:url("../returntoxeno/pics/ageofdiscoverymain.png"), pointer;
}

#loveofmylife {
  cursor:url("../returntoxeno/pics/loveofmylife.png"), pointer;
}

#openerimpactdrill {
  cursor:url("../returntoxeno/pics/openerimpactdrill.png"), pointer;
}

#journalentryaod {
  cursor:url("../returntoxeno/pics/journalentryaod.png"), pointer;

}

#journalentryusa {
  cursor:url("../returntoxeno/pics/journalentryusa.png"), pointer;

}

#chillingpreopenerusa {
  cursor:url("../returntoxeno/pics/chillingpreopenerusa.png"), pointer;

}

#carminaburana {
  cursor:url("../returntoxeno/pics/carminaburana.png"), pointer;

}

#usareaction {
  cursor:url("../returntoxeno/pics/usareaction.png"), pointer;

}

#usascorepic {
  cursor:url("../returntoxeno/pics/usascorepic.png"), pointer;

}

#sixteenthnoterun {
  cursor:url("../returntoxeno/pics/16thnoterun.png"), pointer;

}

#waterfalldrillrtx {
  cursor:url("../returntoxeno/pics/waterfalldrillrtx.png"), pointer;

}

#spaceodyssey {
  cursor:url("../returntoxeno/pics/spaceodyssey.png"), pointer;

}

.box2 {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  width: 100%;
  height: 100%;
  margin: auto;
}

.box3 {
  border: 1px solid black;
  width: 100%;
  height: 100%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;

}
.box4 {
  border: 1px solid black;
  width: 100%;
  height: 100%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;


}
.box5 {
  border: 1px solid black;
  width: 100%;
  height: 100%;
  margin: auto;
  align-content: center;
  display: flex;
  align-items: center;
  justify-content: center;

}


.box6 {
  border: 1px solid black;
  width: 100%;
  height: 100%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;

}

#rtxad {
  cursor:url("../returntoxeno/pics/adcursor.png"), pointer; 
}

.box7 {
  border: 1px solid black;
  width: 100%;
  height: 100%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

#helmet {
  cursor:url("../returntoxeno/pics/test.png"), pointer;
}


.box8 {
  border: 1px solid black;
  width: 100%;
  height: 100%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;

}
.box9 {
  border: 1px solid black;
  width: 100%;
  height: 100%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.advertisementpage {
  padding: 50px;
  font-size: 50px;
}

#selector {
  display: flex;
  width:100%
  height:100%;
}

.bodyscore {
  background-color: white;
  font-family: 'Mars Extended';
  font-size: 25px;
  padding: 50px;
}

.scorefontrtx1, .scorefontrtx2, .scorefontrtx3, .scorefontaod1, .scorefontaod2,
.scorefontusa1, .scorefontusa2, .scorefontusa3 {
  color: black;
  margin-bottom: 100px;
  font-size: 60px;
  font-weight: bold
}

.scorefontrtx1:hover {
  cursor: pointer;
}

.scorefontrtx1:hover:after {
  content: '88.80';
  font-size: 200px;
  position: fixed;
  width: 60%;
  height: 70%;
  top: 3%;
  right: 8%;
  -webkit-text-stroke-width: 2px white;
}

.scorefontrtx2:hover {
  cursor: pointer;
}

.scorefontrtx2:hover:after {
  content: '92.90';
  font-size: 200px;
  position: fixed;
  width: 60%;
  height: 70%;
  top: 10%;
  right: 0%;
}

.scorefontrtx3:hover {
  cursor: pointer;
}

.scorefontrtx3:hover:after {
  content: '96.925';
  font-size: 200px;
  position: fixed;
  width: 60%;
  height: 70%;
  bottom: 10%;
  right: 20%;
}

.scorefontaod1:hover {
  cursor: pointer;
}

.scorefontaod1:hover:after {
  content: '94.50';
  font-size: 200px;
  position: fixed;
  width: 60%;
  height: 70%;
  top: 3%;
  right: 8%;
  -webkit-text-stroke-width: 2px white;
}

.scorefontaod2:hover {
  cursor: pointer;
}

.scorefontaod2:hover:after {
  content: '95.95';
  font-size: 200px;
  position: fixed;
  width: 60%;
  height: 70%;
  top: 10%;
  right: -20%;
}

.scorefontusa1:hover {
  cursor: pointer;
}

.scorefontusa1:hover:after {
  content: '90.85';
  font-size: 200px;
  position: fixed;
  width: 60%;
  height: 70%;
  top: 3%;
  right: 8%;
  -webkit-text-stroke-width: 2px white;
}

.scorefontusa2:hover {
  cursor: pointer;
}

.scorefontusa2:hover:after {
  content: '92.80';
  font-size: 200px;
  position: fixed;
  width: 60%;
  height: 70%;
  top: 10%;
  right: -20%;
}

.scorefontusa3:hover {
  cursor: pointer;
}

.scorefontusa3:hover:after {
  content: '95.45';
  font-size: 200px;
  position: fixed;
  width: 60%;
  height: 70%;
  bottom: 2%;
  right: 8%;
}

.container {
  position: absolute;
  z-index: 1;
}

.container1 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 15vh;
}

.container2 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 15vh;
}

.container3 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 15vh;
}

.container4 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 15vh;
}

@keyframes translate1 {
  0% {
    opacity: 1;
  }

  25% {
    transform: translate(5em, 0);
  }

  50% {
    transform: translate(5em, 5em);
  }

  100% {
    transform: translate(-55em, 5em);
  }
}

@keyframes translate2 {
  0% {
    opacity: 1;
  }

  25% {
    transform: translate(10em, 0);
  }

  50% {
    transform: translate(10em, 5em);
  }

  100% {
    transform: translate(-45em, 5em);
  }
}

@keyframes translate3 {
  0% {
    opacity: 1;
  }

  25% {
    transform: translate(15em, 0);
  }

  50% {
    transform: translate(15em, 5em);
  }

  100% {
    transform: translate(-35em, 5em);
  }
}

@keyframes translate4 {
  0% {
    opacity: 1;
  }

  25% {
    transform: translate(20em, 0);
  }

  50% {
    transform: translate(20em, 5em);
  }

  100% {
    transform: translate(-25em, 5em);
  }
}

@keyframes translate5 {
  0% {
    opacity: 1;
  }

  25% {
    transform: translate(25em, 0);
  }

  50% {
    transform: translate(25em, 5em);
  }

  100% {
    transform: translate(-15em, 5em);
  }
}


@keyframes translate6 {
  0% {
    opacity: 1;
  }

  25% {
    transform: translate(30em, 0);
  }

  50% {
    transform: translate(30em, 5em);
  }

  100% {
    transform: translate(-5em, 5em);
  }
}

@keyframes translate7 {
  0% {
    opacity: 1;
  }

  25% {
    transform: translate(35em, 0);
  }

  50% {
    transform: translate(35em, 5em);
  }

  100% {
    transform: translate(5em, 5em);
  }
}

@keyframes translate8 {
  0% {
    opacity: 1;
  }

  25% {
    transform: translate(40em, 0);
  }

  50% {
    transform: translate(40em, 5em);
  }

  100% {
    transform: translate(15em, 5em);
  }
}

.box {
  width: 15px;
  height: 15px;
  border-radius: 0%;
  background-color: black;
  margin-right: 50px;
  float: right;
}

#uniquebox1 {
    animation: translate1 5s 1s 1 forwards; 
}
#uniquebox2 {
  animation: translate2 5s 2s 1 forwards;
}

#uniquebox3 {
  animation: translate3 5s 3s 1 forwards;
}

#uniquebox4 {
  animation: translate4 5s 4s 1 forwards;
}

#uniquebox5{
    animation: translate5 5s 5s 1 forwards; 
}
#uniquebox6 {
  animation: translate6 5s 6s 1 forwards;
}

#uniquebox7 {
  animation: translate7 5s 7s 1 forwards;
}

#uniquebox8 {
  animation: translate8 5s 8s 1 forwards;
}

#videortxdrill {
  position: absolute;
  width: 450px;
  height: 450px;
  z-index: 0;
  right: 5vw;
}

#videoaoddrill {
  position: absolute;
  width: 450px;
  height: 450px;
  z-index: 0;
  right: 5vw;
  top: 3vh;
}

#videortxreaction {
  display: block
  justify-content: center;
  width: 50%;
  transform: translate(50%);
}

.gif {
  width: 100%;
  height: auto;
  vertical-align: center;
}

@keyframes rotate1 {
  0% {
    opacity: 1;
  }

  100% {
    transform: rotate(360deg);
  }

}
 
.openerdrillcontainer {
  position: relative
}

.sixpeopleline {
  position: absolute;
}

.fivepeopleline {
  position: absolute;
}

#line1 {
  position: absolute;
  right: 25vw;
  top: 30vh;
  animation: rotate1 2s 5s 1 forwards;

}

#line2 {
  position: absolute;
  right: 26.5vw;
  top: 35vh;
  animation: rotate1 2s 4s 1 forwards;

}

#line3 {
  position: absolute;
  right: 25vw;
  top: 40vh;
  animation: rotate1 2s 3s 1 forwards;

}

#line4 {
  position:absolute;
  right: 26.5vw;
  top: 45vh;
  animation: rotate1 2s 2s 1 forwards;

}

#line5 {
  position: absolute;
  right: 25vw;
  top: 50vh;
  animation: rotate1 2s 1s 1 forwards;

}

#line6 {
  position: absolute;
  right: 26.5vw;
  top: 55vh;
  animation: rotate1 2s 1 forwards;

}

.woodwindaod {
  position:relative;
}

.square {
  position: absolute;
  width: 15px;
  height: 15px;
  background-color: black;
  margin-right: 50px;
  float: right;
}

#cir1 {
  position: absolute;
  right: 45vw;
  top: 65vh;
  animation: rotate1 2s 1 forwards;

}

#cir2 {
  position: absolute;
  right: 47vw;
  top: 63vh;
  animation: rotate1 2s 1 0.25s forwards;

}

#cir3 {
  position: absolute;
  right: 49vw;
  top: 61vh;
  animation: rotate1 2s 1 0.5s forwards;

}

#cir4 {
  position: absolute;
  right: 51vw;
  top: 59vh;
  animation: rotate1 2s 1 0.75s forwards;

}

#cir5 {
  position: absolute;
  right: 53vw;
  top: 57vh;
  animation: rotate1 2s 1 1s forwards;

}

#cir6 {
  position: absolute;
  right: 55vw;
  top: 56vh;
  animation: rotate1 2s 1 1.25s forwards;

}

#cir7 {
  position: absolute;
  right: 57vw;
  top: 55.5vh;
  animation: rotate1 2s 1 1.5s forwards;

}

#cir8 {
  position: absolute;
  right: 59vw;
  top: 55vh;
  animation: rotate1 2s 1 1.75s forwards;

}

#cir9 {
  position: absolute;
  right: 61vw;
  top: 55vh;
  animation: rotate1 2s 1 2s forwards;

}

#cir10 {
  position: absolute;
  right: 63vw;
  top: 55vh;
  animation: rotate1 2s 1 2.25s forwards;

}

#cir11 {
  position: absolute;
  right: 65vw;
  top: 55.5vh;
  animation: rotate1 2s 1 2.5s forwards;

}

#cir12 {
  position: absolute;
  right: 67vw;
  top: 56vh;
  animation: rotate1 2s 1 2.75s forwards;

}

#cir13 {
  position: absolute;
  right: 69vw;
  top: 57vh;
  animation: rotate1 2s 1 3s forwards;

}

#cir14 {
  position: absolute;
  right: 71vw;
  top: 59vh;
  animation: rotate1 2s 1 3.25s forwards;

}

#cir15 {
  position: absolute;
  right: 73vw;
  top: 61vh;
  animation: rotate1 2s 1 3.5s forwards;

}

#cir16 {
  position: absolute;
  right: 75vw;
  top: 63vh;
  animation: rotate1 2s 1 3.75s forwards;

}

#cir17 {
  position: absolute;
  right: 77vw;
  top: 65vh;
  animation: rotate1 2s 1 4s forwards;
}


#cir18 {
  position: absolute;
  right: 79vw;
  top: 66vh;
  animation: rotate1 2s 1 4.25s forwards;

}

#cir19 {
  position: absolute;
  right: 81vw;
  top: 65vh;
  animation: rotate1 2s 1 4.5s forwards;

}

#cir20 {
  position: absolute;
  right: 83vw;
  top: 64vh;
  animation: rotate1 2s 1 4.75s forwards;

}

#cir21 {
  position: absolute;
  right: 85vw;
  top: 62vh;
  animation: rotate1 2s 1 5s forwards;

}

#cir22 {
  position: absolute;
  right: 87vw;
  top: 60vh;
  animation: rotate1 2s 1 5.25s forwards;

}

#cir23 {
  position: absolute;
  right: 88vw;
  top: 57vh;
  animation: rotate1 2s 1 5.5s forwards;

}

#cir24 {
  position: absolute;
  right: 88.25vw;
  top: 53vh;
  animation: rotate1 2s 1 5.75s forwards;

}

#cir25 {
  position: absolute;
  right: 88vw;
  top: 49vh;
  animation: rotate1 2s 1 6s forwards;

}

#cir26 {
  position: absolute;
  right: 86.5vw;
  top: 46vh;
  animation: rotate1 2s 1 6.25s forwards;

}

#cir27 {
  position: absolute;
  right: 86.5vw;
  top: 46vh;
  animation: rotate1 2s 1 6.5s forwards;

}

#cir28 {
  position: absolute;
  right: 84.5vw;
  top: 44vh;
  animation: rotate1 2s 1 6.75s forwards;

}

#cir29 {
  position: absolute;
  right: 82vw;
  top: 43vh;
  animation: rotate1 2s 1 7s forwards;

}

#cir30 {
  position: absolute;
  right: 80vw;
  top: 43vh;
  animation: rotate1 2s 1 7.25s forwards;

}

#cir31 {
  position: absolute;
  right: 78vw;
  top: 43vh;
  animation: rotate1 2s 1 7.5s forwards;
}

#cir32 {
  position: absolute;
  right: 76vw;
  top: 43.5vh;
  animation: rotate1 2s 1 7.75s forwards;

}

#cir33 {
  position: absolute;
  right: 74vw;
  top: 44vh;
  animation: rotate1 2s 1 8s forwards;

}


